
MONGO_URL=mongodb+srv://assignment-nine:SBy9aEhZMA5h6Sdj@cluster0.tjc9clz.mongodb.net/cookbook?retryWrites=true&w=majority
# BASE_URL=10.0.60.118
BASE_URL=10.0.60.118
DOCKER_CONTAINER_ID=ce0c679c8259
PORT=6001
SOCKET_PORT=9001
NODE_DEV=production
# NODE_DEV=development
BCRYPT_SALT_ROUNDS=12
JWT_SECRET='here-your-top-secret'
JWT_EXPIRES_IN=30d
JWT_REFRESH_SECRET='fghfy64786895703hfgjhjgh76867kfghfghfghfghfg4656hfghfghfgh'
JWT_REFRESH_EXPIRES_IN=365d

APP_NAME=Cookbook Recipe
SERVER_PASS_UI_LINK=http://10.0.60.118:5000
ACTIVATION_SECRET=346387678979809456

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SERVICE=gmail
SMTP_MAIL=jubayer.engr.soft@gmail.com
SMTP_PASSWORD=maidffakdhsxrhnq
SERVICE_NAME=Cookbook Recipe App

STRIPE_PUBLISH_KEY=pk_test_51O6u3AA05IKdlVAzi99bVrDDueMtwBqM9dddpFnuQ2QuK8qjZFdpLsU4UcBrdY8QvsCFSG0ArvkMHNCRhhbUt4Kx00Qf2icjpW
STRIPE_SECRET_KEY=sk_test_51O6u3AA05IKdlVAzj6WvgS5JbqZtCxu9RlGdYbxscionv1omOSnk8tBsxa8dRqj9pE1DhJw6YTFYUUsatvW24nx500xyGsRgDR
